footer {
    background-color: #11161a;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3rem;
}

.F-headers-section {
    display: grid;
    place-items: center;
}

.F-headers {
    width: 90%;
    max-width: var(--container-max-width);
    height: 70px;
    display: grid;
    grid-template-columns: 60% 40%;
    border-top: 1px solid var(--border-line);
    border-bottom: 1px solid var(--light-border-line);
}

.F-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.F-header .name-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.name-container img {
    width: 40px;
}

.name-container h2 {
    font-size: 1.2rem;
    font-weight: 900;
    font-family: var(--logo-font);
    color: white;
}

.F-header:first-child {
    border-right: 1px solid var(--light-border-line);
}

.F-header:nth-child(2) {
    display: none;
}

.F-header:nth-child(2) a img {
    transition: filter 0.3s ease;
    width: 18px;
}

.F-header:nth-child(2) a img:hover {
    filter: invert(55%) sepia(80%) saturate(700%) hue-rotate(5deg);
    /*orange color when hovered*/
    cursor: pointer;
}

.F-header:last-child a {
    padding: 12px 15px;
    background-color: var(--button-background);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.F-header:last-child a:hover {
    background-color: purple;
    color: white;
}

.F-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.F-grid {
    width: 90%;
    max-width: var(--container-max-width);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 2rem; */
    margin-top: 2rem;
}

.F-grid-item {
    width: 100%;
}

.subscribe-header,
.gadget-header {
    height: 30px;
}

.subscribe-header h5 {
    color: white;
}

.subscribe-body {
    margin-top: 1rem;
    height: 200px;
}

.subscribe-body p {
    color: var(--border-line);
}

.subscribe-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.subscribe-container input {
    height: 50px;
    width: 85%;
    border: none;
    padding-left: 1rem;
    background-color: transparent;
    transition: background 0.3s ease;
}

.subscribe-container input:focus-within {
    outline: none;
    background: white;
}

.subscribe-container button {
    height: 50px;
    width: 60px;
    border: none;
    background-color: orange;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.subscribe-container button:hover {
    background-color: purple;
    color: white;
}

.footer-gadget {
    display: flex;
}

.gadget-container {
    width: 100%;
}

.gadget-header h5 {
    color: white;
}

.gadget-body ul li {
    margin-top: 1.5rem;
}

.gadget-body ul li>a {
    color: white;
    transition: color 0.3s ease;
}

.gadget-body ul li>a:hover {
    color: orange;
}

.footer-galley {
    width: 100%;
    margin-top: 3rem;
}

.footer-galley-BTM {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.2rem;
    margin-top: 1rem;
}

.footer-galley-BTM div{
    cursor: pointer;
    border: none;
    transition: border 0.3s ease;
}

.footer-galley-BTM div:hover{
    border: 1px solid orange;
}

.footer-galley-BTM div img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:577px) {

    .F-headers {
        grid-template-columns: 60% 20% 20%;
    }

    .F-header:nth-child(2) {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-right: 1px solid var(--light-border-line);
    }
}

@media screen and (min-width:768px) {

    .F-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;

    }

    .subscribe-grid {
        grid-column: 1 / span2;
    }

    .footer-galley {
        margin-top: 0;
    }
}


@media screen and (min-width:992px) {
    .F-headers {
        max-width: 1200px;
    }

    .F-grid {
        max-width: 1200px;
    }

    .F-grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;

    }

    .subscribe-grid {
        grid-column: auto;
        padding-right: 2rem;
    }

    .footer-galley {
        width: 250px;
    }
}
