.rev-slide {
    background-image:
        linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
        url("../assets/images/banner/banner1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(89, 89, 11);
    /* height: 200px; */
    /* height: clamp(200px, 50vh, 500px); */
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.slide-txt {
    width: 85%;
    max-width: 700px;
    text-align: center;
}

.rev-slide span,
.rev-slide p {
    font-size: clamp(0.8rem, 3vw, 1rem);
    color: white;
    line-height: 2rem;
    /* font-size: 0.8rem; */
}

.rev-slide h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: bold;
    margin: 0.2rem 0;
    color: white;
}

.slide-btn {
    /* height: 80px; */
    width: 80%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.slide-btn a {
    padding: 10px 11px;
    background-color: green;
    border: 1px solid black;
    border-radius: 18px;
    color: white;
}

#contact-btn {
    border: 1px solid white;
    background: transparent;
    transition: background 0.3s ease, color 0.3s ease;
}

#read-btn {
    background: purple;
    border: 1px solid purple;
    transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

#contact-btn:hover {
    background: white;
    color: black;
}

#read-btn:hover {
    background: white;
    border: 1px solid white;
    color: black;
}

.viewmore-section {
    display: grid;
    place-items: center;
}

.viewmore-container {
    width: 90%;
    max-width: var(--container-max-width);
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.viewmore-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 25px 0 rgba(29, 25, 0, 0.25);
    transition: transform 0.6s ease;
}

.vm-image {
    width: 100%;
    /* height: 175px; */
    position: relative;
}

.vm-image img {
    width: 100%;
}

.vw-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    place-items: center;
}

.vw-icon img {
    width: 60%;
}

.viewmore-box p {
    font-size: 1rem;
}

.viewmore-box a {
    padding: 8px 11px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 18px;
    color: black;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.viewmore-box a:hover {
    background-color: purple;
    color: white;
}

.courses-section {
    display: grid;
    place-items: center;
    margin-top: 2rem;
}

.courses-container {
    width: 90%;
    max-width: var(--container-max-width);
}

.courses-header {
    display: flex;
    gap: 0.5rem;

}

.courses-icon {
    background-color: orange;
    height: 40px;
    width: 5px;
}

.courses-header h1 {
    font-size: 1.9rem;
}

.courses-header h1 span {
    font-size: 1.9rem;
    font-weight: bold;
}

.courses-container p {
    line-height: 1.5rem;
}

.course-slider {
    margin-top: 1rem;
}

.course-slides {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    place-items: center;
}

.course-slide {
    max-width: 350px;
    box-shadow: 0 0 25px 0 rgba(29, 25, 0, 0.25);
}

.course-image {
    position: relative;
    background-color: red;
    height: 150px;
    overflow: hidden;
}

.course-image img {
    width: 100%;
    height: 100%;
}

.course-image a {
    background-color: orange;
    padding: 10px 8px;
    position: absolute;
    left: -100px;
    bottom: 0;
    transform: translateX(0);
    /* z-index: 2; */
    transition: transform 0.5s ease, background-color 0.3s ease, color 0.3s ease;
}

.course-image a:hover {
    background-color: purple;
    color: white;
}

.course-slide:hover a {
    transform: translateX(100px);
}

.course-box {
    text-align: center;
}

.course-name {
    font-size: 1.2rem;
}

.course-box p {
    font-size: 0.8rem;
    margin-top: 1rem;
}

.review-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.review-grid .grid-item:first-child {
    border-top: 1px solid var(--border-line);
    border-right: 1px solid var(--border-line);
    height: 50px;
    padding-left: 1rem;
}

.review-grid .grid-item:last-child {
    border-top: 1px solid var(--border-line);
    border-left: 1px solid var(--border-line);
    height: 50px;
    padding-right: 1rem;
}

.grid-item p {
    font-size: 1.2rem;
}

#star-label {
    font-size: 0.8rem;
}

.active-star {
    color: purple;
}

.inactive-star {
    color: #bcbcbc;
}

#course-amount {
    justify-items: right;
}

/* old prize */
#course-amount p:first-child {
    color: rgb(105, 105, 105);
    text-decoration: line-through;
}

/* .slide-review {
    background-color: yellow;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.slide-review button {
    padding: 6px 14px;
    background-color: orange;
    border: 1px solid orange;
} */

.parallax {
    background-image: url("../assets/images/our-services/pic1.jpg");
    background-size: cover;
    background-position: center;
    /*  THIS creates the parallax */
    background-attachment: fixed;
}

.form-section {
    margin-top: 3rem;
    /* height: 600px; */
    padding: 7rem 0;
    background-color: rgba(73, 5, 181, 0.95);
    display: grid;
    place-items: center;
}

.form-container {
    width: 90%;
    max-width: var(--container-max-width);
}

.form-header {
    margin-bottom: 2rem;
}

.form-header h2,
.form-header p {
    text-align: center;
    color: white;
}

.form-header h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.search-container {
    height: 70px;
    background-color: #6f42c1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    gap: 10px;
    padding: 0 10px;
}

.search-container input {
    width: 95%;
    height: 50px;
    border: none;
    border-radius: 6px;
    padding-left: 1.2rem;
    padding-right: 0.9rem;
}

.search-container input:focus-within {
    outline: none;
}

.search-container button {
    padding: 15px 15px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 6px;
}

.records {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}

.record {
    background-color: #6f42c1;
    width: 100%;
    height: 150px;
    border-radius: 6px;
    text-align: center;
    border: 1px solid rgb(151, 151, 151);
}

.record-top {
    height: 100px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.record-top img {
    width: 60px;
}

.record-amount,
.counter {
    font-weight: bold;
    color: white;
    font-size: 2.5rem;
}

.record span {
    color: white;
}

.quote-section {
    width: 100%;
    /* height: 500px; */
    background-color: white;
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
}

.quote-container {
    width: 90%;
    max-width: var(--container-max-width);
    /* background-color: rgb(16, 49, 16); */
}

.quote-header {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

}

.quote-icon {
    background-color: orange;
    height: 40px;
    width: 5px;
}

.quote-header h1 {
    font-size: 1.9rem;
    font-weight: bold;
}

.quote-container>p {
    max-width: 500px;
}

.quote-container p {
    line-height: 1.5rem;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    gap: 2rem;
}

.quote-comment {
    width: 85%;
    background-color: rgb(224, 224, 224);
    padding: 0 1.5rem 0 3rem;
    margin-top: 2rem;
    border-radius: 8px;
    position: relative;
    margin-left: 3rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.top-comment {
    margin: 1rem;
}

.author-name {
    font-weight: bold;
}

.bottom-comment {
    margin: 1rem 0;
}

.author-pics {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 1rem;
    left: -35px;
    display: grid;
    place-items: center;
}

.author-pics img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 2px solid white;
}

@media screen and (max-width: 325px) {
    .rev-slide {
        aspect-ratio: 1/1;
    }
}

@media screen and (min-width:577px) {

    .viewmore-container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .viewmore-box:last-child {
        grid-column: 1/span2;
    }

    .course-slides {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-header h2 {
        font-size: 1.9rem;
    }
}

@media screen and (min-width:768px) {

    .rev-slide {
        flex-direction: column;
    }

    .viewmore-box:last-child {
        grid-column: auto;
    }

    .viewmore-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .course-slides {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-header h2 {
        font-size: 2.5rem;
    }

    .records {
        flex-direction: row;
    }
}

@media screen and (min-width:992px) {

    /* slide */

    .rev-slide {
        aspect-ratio: 16/7;
    }

    .slide-btn {
        margin-bottom: 10%;
    }

    /* relative slide container style */

    .relative-slide-review {
        position: relative;
    }

    .viewmore-section {
        width: 100%;
        position: absolute;
        bottom: -200px;
        background: transparent;
    }

    .viewmore-container {
        max-width: 1200px;
    }

    .viewmore-box:hover {
        transform: translateY(-20px);
    }

    .courses-section {
        margin-top: 280px;
    }

    .course-slides {
        grid-template-columns: repeat(4, 1fr);
    }

    .courses-container {
        max-width: 1200px;
    }

    .form-container {
        width: 90%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-header h2 {
        font-size: 3rem;
    }


    .search-container {
        width: 100%;
        max-width: 700px;
    }

    .quote {
        flex-direction: row;
    }

    .quote-container {
        max-width: 1200px;
    }

}