.mobile-nav {
    width: 85%;
    max-width: 300px;
    height: 100vh;
    max-height: 200vh;
    background-color: white;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    /* display: none; */
    left: -300vw;
    transition: left 0.6s ease-in-out;
}

.mobile-nav-active {
    left: 0;
    overflow-y: auto;
}

.mobile-nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.mobile-nav-header h1 {
    font-family: var(--logo-font);
    font-weight: 900;
    color: var(--header-background);
    font-size: 1.2rem;
}

.mobile-nav-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-nav-bottom {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20rem;
}

.nav-footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-footer a img {
    width: 20px;
}

.cat-header {
    /* width: 90%; */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 1px dotted var(--border-line);
    background-color: green;
}

.cat-header>a{
    width: 100%;
    height: 100%;
}

.cat-header a,
.cat-header span {
    font-weight: bold;
    background-color: red;
    display: flex;
    align-items: center;
}

.cat-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.cat-body-active {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
}

.cat-body h2 {
    margin: 1rem 0 0 0;
    font-size: 1.2rem;
}

.underline {
    width: 60px;
    height: 1px;
    background-color: var(--light-border-line);
    margin-top: 0.5rem;
}

.cat-body .underline {
    margin-bottom: 0.5rem;
}

.cat-body ul li {
    height: 40px;
    border-bottom: 1px dotted white;
    display: flex;
    align-items: center;
}

.cat-body ul li a{
    height: 100%;
    width: 100%;
}

.arrow-image {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

.arrow-image-active {
    transform: rotate(180deg);
}

.arrow-image img {
    width: 15px;
    height: 15px;
}

.course-nav-image img {
    width: 100%;
}
