.search-grid{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.7s ease, z-index 0.7s ease;
}

.search-grid-active{
    z-index: 2000;
    opacity: 1;
}

.search-contents{
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.close-search{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.search-hamburger{
    width: 40px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.search-hamburger span{
    /* height: 4px; */
    display: block;
    background-color: black;
}

.search-hamburger span:first-child {
    height: 3px;
    width: 25px;
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    right: 5px;
    background-color: black;
}

.search-hamburger span:last-child {
    height: 3px;
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 5px;
    transform: rotate(-45deg);
    background-color: black;
}

.search-section{
    width: 100%;
    max-width: 700px;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.search-section input{
    height: 30px;
    width: 90%;
    padding: 0 1rem;
    border: none;
    font-size: 1.3rem;
    background: transparent;
}

.search-section input:focus-within{
    outline: none;
}

.search-section input::placeholder{
    color: black;
    font-size: 1.3rem;
}

.search-section div{
    width: 10%;
    height: 30px;
    display: grid;
    place-items: center;
}

.search-section div img{
    width: 25px;
    height: 25px;
    filter:brightness(100) invert(1);
    cursor: pointer;
}