.zoom_body {
    background:
        linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: -1;
    opacity: 0;
    transition: z-index 0.3s ease, opacity 0.3s ease;

}

.zoom_body.active {
    z-index: 1000;
    opacity: 1;
}

.zoom-container{
    width: 95%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.zoom-container>div{
    width: 100%;
}

.zoom-container>div .close-hamburger {
    width: 17px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    float: right;
    margin-bottom: 1rem;
}

.close-hamburger span {
    height: 3px;
    width: 15px;
    display: block;
    background-color: rgb(226, 226, 226);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.close-hamburger span:first-child {
    transform: rotate(45deg);
    position: absolute;
    bottom: 5px;
}

.close-hamburger span:last-child {
    position: absolute;
    bottom: 5px;
    transform: rotate(-45deg);
}

.zoom-container .image-container img{
    width: 100%;
}